.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  HOME COMPONENT STYLES  */

.home div {
  border: 1px solid lightgray;
}

.home h1, p {
  text-align: left;
  margin: 10px 30px 20px 30px;
}

.home h1 {
  font-weight: 400;
  font-size: 40px;
}

.home p {
  color: gray;
  font-size: 20px;
}

.home img {
  width: 100vw;
}

/*  ALL BEERS STYLES  */

.beer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid lightgray;
  padding: 40px 10px;
}

.beer-img img{
  width: 5vw;
  margin: 0px 50px;
}

.beer-info {
  text-align: left;
}

/*  SINGLE BEER STYLES  */

.single-beer {
  margin: 30px 10px;
}

.single-beer img {
  width: 12vw;
}

.single-beer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 30px;
}

.single-beer p {
  text-align: left;
}

/*  NEW BEER FORM STYLES  */

.new-beer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-beer-form label {
  font-weight: 700;
  margin: 20px 0px;
  text-align: left;
}

.new-beer-form input {
  width: 550px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 20px;
}

.new-beer-form button {
  width: 550px;
  background-color: #3DC4FC;
  border: none;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}